@use '@/sass/variaveis' as *;

.contato {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2rem 0;

    .imagem {
        max-height: 185px;
    }

    .conteudo {
        align-items: center;
        background-color: $fundo-laranja;
        color: $branco;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        height: 254px;
        justify-content: center;
        padding: 1.875rem;
        text-align: center;

        .texto {
            font-size: 1.5rem;
            font-weight: 700;
            line-height: 2rem;
            margin-bottom: 1.25rem;
            max-width: 70%;
        }

        .link {
            color: $marrom-escuro;
            font-weight: bold;
            text-decoration: none;
        }
    }
}
