$azul-claro: #eaf0ff;
$branco: #ffffff;
$marrom-escuro: #631406;
$preto: #000000;
$preto-escuro: #121212;

$fundo-azul-escuro: #363e50;
$fundo-azul-claro: #f2f6ff;
$fundo-cinza-claro: #c8c2c2;
$fundo-laranja: #f2745f;

$fonte-principal: 'Open Sans', sans-serif;
