@use '@/sass/variaveis' as *;

.categorias {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    .tipo {
        text-align: center;

        .imagem {
            border: 10px solid $azul-claro;
            border-radius: 50%;
            max-width: 100%;
            overflow: hidden;
        }

        .subtitulo {
            color: $preto-escuro;
            font-size: 1.375rem;
            font-weight: 600;
            line-height: 1.875rem;
            margin-top: 1.25rem;
        }
    }
}
